body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#search {
    max-width: 500px;
    border: 2px #888 solid;
    padding: 10px;
    border-radius: 5px;
}

#search:focus {
    background-color: rgba(187, 214, 245, 0.5);
    transition-property: background-color;
    transition: 0.2s ease-in-out;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main a {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 20px 10px;
}


a img {
    clear: both;
}


@media screen and (min-width: 768px) {
    main {
        max-width: 1000px;
    }

    main a {
        display: inline-block;
    }

    a img {
        margin: 10px 10px;
    }

    #search {
        min-width: 425px;
    }
}


@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(40, 40, 40);
        color: rgb(210, 210, 210);
    }
}